@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Common shared styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
/* main styles */
main {
  max-width: 1110px;
  margin: 0 auto;
}

section {
  margin-top: 100px;
}

.btn-primary {
  background-color: #e02c6d;
  padding: 10px 24px;
  border-radius: 40px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

/* nav styles */
header {
  padding: 50px 120px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #3a3a3a;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 34px;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  color: #3a3a3a;
  font-weight: 600;
}

.menu li a i {
  font-size: 1.5rem;
}

/* banner styles */
.banner {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  max-width: 583px;
}

.banner-title {
  color: #3a3a3a;
  font-size: 3.25rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.banner-description {
  color: #3a3a3a;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 1rem;
}

.banner-img img {
  width: 100%;
  background-image: url(../images/Circle_design.svg);
  background-size: cover;
  background-position: center center;
}

/* sponsors section */
.sponsors {
  display: flex;
  justify-content: space-around;
  margin-top: -50px;
}

/* popular products section */
.products-section {
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.card {
  padding: 17px 15px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  margin: 0 auto;
}

.card-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 6px;
}

.card .price {
  font-size: 1.25rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px;
}

.card .rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.rating .stars {
  color: #fb8200;
  font-size: 0.75rem;
}

.rating .rate {
  color: #5e6366;
  font-size: 1rem;
}

.card-description {
  font-size: 0.82rem;
  font-weight: 700;
  color: #787885;
}

/********************************** media query ******************************/
/* small devices */
@media screen and (max-width: 576px) {
  nav,
  ul.menu,
  .sponsors {
    flex-direction: column;
  }
  header {
    padding: 35px 20px;
  }
  nav {
    text-align: center;
  }
  ul.menu {
    margin-top: 2rem;
    gap: 1rem;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .banner-description {
    font-weight: 500;
    font-size: 0.82rem;
  }
  .btn-primary {
    font-weight: 500;
  }
  .sponsors {
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .sponsors img {
    width: 50%;
  }
  .products-section {
    padding: 15px;
  }
  .products {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

/* medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  nav,
  ul.menu,
  .sponsors {
    flex-direction: column;
  }
  nav {
    text-align: center;
  }
  ul.menu {
    margin-top: 2rem;
    gap: 1rem;
  }
  .banner {
    flex-direction: column-reverse;
    text-align: center;
    gap: 1rem;
  }
  .sponsors {
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .sponsors img {
    width: 50%;
  }
  .products-section {
    padding: 15px;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
